<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<div id='razorpay' class='btn razorpay-payment-button pull-right razorpay-init'>
  Pay by Razorpay
</div>

<script>
 $(document).ready(function() {
   $(".razorpay-init").click(function() {
     var options = {
       "key": "<%= payment_method.preferences[:key_id] %>",
       "amount": "<%= current_order.amount_in_paise %>",
       'name': "<%= payment_method.preferences[:merchant_name] %>",
       'description': "<%= payment_method.preferences[:merchant_description] %>",
       "handler": function (response){
         $.ajax({
           type: 'POST',
           url: "/razorpay",
           data: { payment_method_id: "<%= payment_method.id %>", razorpay_payment_id: response.razorpay_payment_id },
           dataType: 'html'
         }).done(function(data) {
           setTimeout(function(){
             window.location.replace("/orders/<%= current_order.number %>");
           }, 100);
         });
       },
       "prefill": {
         "name": "<%= spree_current_user.try(:email) %>",
         "email": "<%= spree_current_user.try(:email) %>"
       },
       "notes": {
         "address": "<%= payment_method.preferences[:merchant_address] %>"
       },
       "theme": {
         "color": "<%= payment_method.preferences[:theme_color] %>"
       }
     };
     var rzp1 = new Razorpay(options);
     rzp1.open();
   });

 });
</script>
